<header>
  <!-- <img src="../../public/question-mark.png" alt="question-mark" /> -->
  <div class="links">
    {{#link-to 'index' class="link"}}<span class="headerLink">Home</span>{{/link-to}}
  </div>
  <span class="navTitle">Question Board</span>
</header>
{{outlet}}
<br>
<footer>
  &copy; Keir Staple
</footer>
